{% extends 'includes/masterpage.html' %}
{% block title %} <title>Add User</title> {% endblock title %}
{% block content %} 
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0 text-dark"></h1>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
    
        <!-- Main content -->
        <section class="content">
          {% if message2 %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{message2}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
            {% if error %}
              <div class="alert alert-danger">
                {{ error }}
              </div>
            {% endif %}
            <div class="row">
                <div class="col-12">
                    <div class="card">
                    <div class="card-header">
                    <h3 class="card-title">Employees</h3>
                    <button type="button" class="btn btn-info ml-4 float-right" data-toggle="modal" data-target="#editRegulation">
                            Edit Employee
                        </button>
                    <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#AddEmployee">
                            Add New Employee
                        </button>
                        
                      
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="employees" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Employee ID</th>
                                <th>Employee Name</th>
                                <th>Role</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                    <tr>	
                                        <td>{{ user.id }}</td>
                                        <td>{{ user.username }}</td>
                                        <td>
                                            {% if user.is_manager %}
                                                <p>Manager</p>
                                            {% endif %}
                                            {% if user.is_auditorclerk %}
                                                <p>Auditor</p>
                                            {% endif %}
                                            {% if user.is_partner %}
                                                <p>Partner</p>
                                            {% endif %}
                                            {% if user.is_articleholder %}
                                                <p>Article</p>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% comment %} <a role="btn" class="btn btn-danger" href="{% url 'remove_regulation' regulation_id=regulation.id %}"
                                                    onclick="return confirm('Are you sure you want to delete this regulation?');">
                                                Delete
                                            </a> {% endcomment %}
                                        </td>
                                    
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <hr>
                        
                    </div>
                    <!-- /.card-body -->
                    </div>
                    <div class="card">
                      <div class="card-header bg-blue-disabled">
                        <h1 class="card-title">Generate Reports</h1>
                        <div class="card-tools">
                          <!-- Collapse Button -->
                          <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                          </button>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="form-row">
                          <div class="form-group col-md-2 mb-3">
                            <label for="search_employee">Select Employee</label>
                            <select class="form-control" id="search_employee" required>
                                <option value="" selected>Select</option>
                                {% for i in users %}
                                <option value="{{i.id}}">{{i.username}}</option>
                                {% endfor %}
                            </select>
                          </div>
                          <div class="form-group col-md-2 mb-3">
                            <label for="search_task_status">Select Task Status</label>
                            <select class="form-control" id="search_task_status" required>
                                <option value="" selected>Select</option>
                                <option value="pending">Pending</option>
                                <option value="completed">Completed</option>
                            </select>
                          </div>
                          <!-- <div class="form-group col-md-2 mb-3">
                            <label for="search_task_priority">Select Task Priority</label>
                            <select class="form-control" id="search_task_priority" required>
                                <option value="" selected>Select</option>
                                <option value="Low">Low</option>
                                <option value="Medium">Medium</option>
                                <option value="High">High</option>
                                <option value="Very High">Very High</option>
                                <option value="Critical">Critical</option>                              
                            </select>
                          </div> -->
                        </div>
                        <div class="form-row">
                          <div class="col-sm-12">
                            <button class="btn btn-primary" onclick="SearchClients()">Search</button>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                    <div class="card" id="reports_data" style="display:none;">
                      <div class="card-header bg-blue-disabled">
                        <h1 class="card-title">Reports Data</h1>
                        <div class="card-tools">
                          <!-- Collapse Button -->
                          <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                          </button>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="form-row" id="reports_data_table">
                          <div class="col-md-12">
                            <table class="table" id="all_users_table">
                              <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">User Name</th>
                                  <th scope="col">Client ID</th>
                                  <th scope="col">Client Name</th>
                                  <th scope="col">Client Total Task Count</th>
                                  <th scope="col">Client Pending Task Count</th>
                                  <th scope="col">Client Completed Task Count</th>
                                  
                                </tr>
                              </thead>
                              <tbody id="reports_data_table_body">
                              </tbody>
                            </table>
                          </div>
                          <div class="col-md-12">
                            <div class="row">
                              <div class="col-sm-4"  style="display:none;">
                                <input type="text" id="ids_of_report">
                                <input type="text" id="task_status_report">
                              </div>
                              <div class="col-md-2">
                                <button class="btn btn-success" onclick="export_pdf()">Export PDF</button>
                              </div>
                              <div class="col-md-2">
                                <button class="btn btn-primary" onclick="export_excel()">Export EXCEL</button>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                      
                </div>
            </div>
    
            <!-- Modals -->
            <!-- Add Regulation -->
            <div class="modal fade" id="AddEmployee" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <!-- Add Regulation Form -->
                    <form method="POST" id="create_user_form"> 
                        {% csrf_token %}
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Add New Employee</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-row">
                                    <div class="form-group col-md-12 mb-3">
                                        <label for="employee_fname" class="text-dark">Employee First Name</label>
                                        <input type="text" name="employee_fname" id="employee_fname" class="form-control" required />
                                    </div>
                                    <div class="form-group col-md-12 mb-3">
                                        <label for="employee_lname" class="text-dark">Employee Last Name</label>
                                        <input type="text" name="employee_lname" id="employee_lname" class="form-control" required />
                                    </div>
                                    <div class="form-group col-md-12 mb-3">
                                        <label for="employee_username" class="text-dark">Employee Username</label>
                                        <input type="text" name="employee_username" id="employee_username" class="form-control" required />
                                    </div>
                                    <div class="form-group col-md-12 mb-3">
                                        <label for="employee_password" class="text-dark">Employee Password</label>
                                        <input type="password" name="employee_password" id="employee_password" class="form-control" required />
                                    </div>
                                    <div class="form-group col-md-12 mb-3">
                                        <label for="employee_email" class="text-dark">Employee Email Address</label>
                                        <input type="email" name="employee_email" id="employee_email" class="form-control" required />
                                    </div>
                                    <div class="form-group col-md-12 mb-3">
                                      <label for="employee_role">Role</label>
                                      <select class="form-control" id="employee_role" name="employee_role" required>
                                        <option value="" selected>Select Role</option>
                                        <option value="partner">Partner</option>
                                        <option value="manager">Manager</option>
                                        <option value="auditor">Auditor</option>
                                        <option value="article">Article</option>
                                      </select>
                                      
                                    </div>
                                    <div class="form-group col-md-12 mb-3" id="employee_link_container" style="display:none;">
                                      <label for="employee_link">Heirarchy</label>
                                      <select class="form-control" id="employee_link" name="employee_link" required>
                                        <option value="" selected>Select Heirarchy</option>
                                        
                                      </select>
                                      
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-success" value="Submit" >
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    
    
            <!-- Edit Regulation -->
            <div class="modal fade" id="editRegulation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <!-- Edit Regulation Form -->
                    <form method="POST">
                        {% csrf_token %}
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Edit Employee</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            
                            <div class="modal-body">
                                <div class="form-row">
                                    <div class="form-group col-md-12 mb-3">
                                        <label for="regulations" class="text-dark">Select Employee</label>
                                        <select name="user_id" id="user_id" class="custom-select">
                                            <option value="-1">Please Select</option>
                                            {% for user in users %}
                                                <option value="{{ user.id }}">{{ user.username }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group col-md-12 mb-3">
                                        <label for="regulationName" class="text-dark">New Password</label>
                                        <input type="password" name="new_password" id="new_password" class="form-control" required />
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-success" value="Submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!-- /.content -->
      </div>
      {% endblock content %}
      {% block script %}

  <script>

  $('#employee_role').on('change', function() {
    var role = this.value;
    if(role.length > 0) {
      if(role == "manager" || role == "auditor" || role == "article"){
        $.ajax({ 
              data: {
                  'fetch_data': role,
              }, 
              type: 'POST', 
              headers: { 'X-CSRFToken': '{{ csrf_token }}' },
              url: "{% url 'adduser' %}", 
              success: function (response) { 
                $('#employee_link').empty();
                $('#employee_link').append(`
                    <option value="">Select Heirarchy</option>
                    `);
                $('#employee_link_container').css('display', 'none');
                if(response.link_user == "yes"){
                  $('#employee_link_container').css('display', 'block');
                  console.log(response.data)
                  var data = response.data;
                  data.forEach(myfunction);
                  function myfunction(item){
                    $('#employee_link').append(`
                    <option value="${item.id}">${item.username}</option>
                    `);
                  }
                }
              }
            });
      }
      else{
        $('#employee_link_container').css('display', 'none');
      }
    }
  });

    jQuery('#create_user_form').validate({
      rules:{
        employee_fname:{
          required:true,
          lettersonly: true,
          maxlength:255,
        },
        employee_lname:{
          required:true,
          lettersonly: true,
          maxlength:255,
        },
        employee_username:{
          required:true,
          maxlength:255,
        },
        employee_password:{
          required:true,
          minlength:8,
          maxlength:15,
          pwcheck:true,
        },
        employee_email:{ 
          required:true,
          emailcheck:true,
          maxlength:255,
        },
        client_mobile:{
          required:true,
          number:true,
          minlength:10,
          maxlength:10,
        },
        employee_role:{
          required:true,
        }
      },
      messages:{
        employee_fname:{
          required:"Please Enter First Name",
          lettersonly: "(Spaces, Special Characters and Numbers not Allowed ..!))",
          maxlength:"Maximum Characters Allowed is 255.",
        },
        employee_lname:{
          required:"Please Enter Last Name",
          lettersonly: "(Spaces, Special Characters and Numbers not Allowed ..!))",
          maxlength:"Maximum Characters Allowed is 255.",
        },
        employee_username:{
          required:"Please Enter User Name",
          maxlength:"Maximum Characters Allowed is 255.",
        },
        employee_password:{
          required:"Please Enter Password",
          minlength:"Password must be at least 8 characters long",
          maxlength:"Password must be at most 15 characters",
          pwcheck:"Password Must Contains Uppercase, LowerCase and a Special Character"
        },
        employee_email:{
          required:"Please Enter Email Address",
          emailcheck:"Please Enter a Valid Email Address",
          maxlength:"Maximum Characters Allowed is 255.",
        },
        client_mobile:{
          required:"Please Enter Mobile",
          number:"Please enter a valid mobile number",
          minlength:"Please enter 10 digit Mobile Number",
          maxlength:"Please enter 10 digit Mobile Number",
        },
        employee_role:{
          required:"Please Select a Role",
        }
      },
      subitHandler:function(form){
        form.submit();
      }
    });
    
    
    function SearchClients(){
      $('#task_status_report').empty();
      $('#task_status_report').val($('#search_task_status').val())
      var user_id = $('#search_employee').val();
      var status = $('#search_task_status').val();
      var priority = $('#search_task_priority').val();
      if(user_id.length > 0 | status.length > 0 || priority.length > 0){
        console.log(user_id, status , priority);
        $.ajax({ 
              data: {
                  'user_id': user_id,
                  'status': status,
                  // 'priority': priority
              }, 
              type: 'POST', 
              headers: { 'X-CSRFToken': '{{ csrf_token }}' },
              url: "{% url 'show_main_client_reports' %}", 
              success: function (response) { 
                $('#ids_of_report').val('')
                $('#reports_data_table_body').empty();
                if(response.data.length > 0){
                  $('#reports_data').css('display', 'block');
                  var data = response.data;
                  data.forEach(myfunction);
                  var count = 0;
                  function myfunction(item,count){
                    var add_values = $('#ids_of_report').val();
                    if(add_values.length <= 0){
                      $('#ids_of_report').val( item.client_id )
                    }
                    else{
                      $('#ids_of_report').val($('#ids_of_report').val() + "," + item.client_id )
                    }
                    count = count + 1;
                    console.log(item)
                    
                    $('#reports_data_table_body').append(`
                    <tr>
                      <th scope="row">${count}</th>
                      <td>${item.user}</td>
                      <td>${item.client_id}</td>
                      <td>${item.client_name}</td>
                      <td>${item.client_task_count}</td>
                      <td>${item.pending_task_count}</td>
                      <td>${item.completed_task_count}</td>
                    `);
                  }
                }
                else{
                  $('#reports_data').css('display', 'none');
                }
              }
            });
      }
    }

    var options = {
      series: [
        {
          name: "In-Progress Tasks",
          data: [44, 55, 57, 56, 61, 58, 63, 60, 66],
        },
        {
          name: "Completed Tasks",
          data: [76, 85, 101, 98, 87, 105, 91, 114, 94],
        },
        {
          name: "Pending Tasks",
          data: [35, 41, 36, 26, 45, 48, 52, 53, 41],
        },
      ],
      chart: {
        type: "area",
        height: 315,
        toolbar: {
          show: false,
        },
        zoom: {
          enabled: false,
        },
      },
      dataLabels: {
        enabled: false,
      },
      stroke: {
        curve: "smooth",
      },
      xaxis: {
        categories: [
          "Feb",
          "Mar",
          "Apr",
          "May",
          "Jun",
          "Jul",
          "Aug",
          "Sep",
          "Oct",
        ],
      },
      yaxis: {
        title: {
          text: "No. of Tasks",
        },
      },
      fill: {
        opacity: 1,
      },
      tooltip: {
        y: {
          formatter: function (val) {
            return +val + " Tasks";
          },
        },
      },
    };

    var chart = new ApexCharts(
      document.querySelector("#responsive-chart"),
      options
    );

    chart.render();

    function export_excel()
        {
          window.location = `http://127.0.0.1:8000/main_client/export_excel/${$('#ids_of_report').val()}`
        }

      function export_pdf()
        {
          window.location = `http://127.0.0.1:8000/main_client/export_pdf/${$('#ids_of_report').val()}`
        }
  </script>
{% endblock script %}
