{% extends 'includes/masterpage.html' %}
{% block title %} <title>Dashboard</title> {% endblock title %}
{% block content %}  
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"></h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        {% if clients %}
            <div class="row">
                <div class="col-12">
                    <div class="card">
                    <div class="card-header">
                      <p class="card-title">Clients</p>
                      <a  href="{% url 'client_setup' %}">
                        <button type="submit" class="btn btn-success float-right">
                              Add New Client
                        </button>
                      </a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                    <table id="clients" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Manager ID</th>
                            <th>Manager Name</th>
                            <th>Manager Email</th>
                            <th>Last Login</th>
                            <th>Action</th>

                        </tr>
                        </thead>
                        <tbody>
                            {% for client in clients %}
                            {%if client.assigned_user%}
                                <tr>
                                    <td>{{ client.assigned_user.id }}</td>
                                    <td>{{ client.assigned_user }}</td>
                                    <td>{{ client.assigned_user.email }}</td>
                                    <td>{{ client.assigned_user.last_login }}</td>
                                    <td><a href="{% url 'client_profile' client_id=client.id %}">View</a></td>
                                </tr>
                                {%endif%}
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                </div>
            </div>
        {% endif %}
    </section>
    <!-- /.content -->
  </div>
  {% endblock content %}
  <!-- /.content-wrapper -->
  {% block script %}
  {% endblock script %}
