{% extends 'includes/masterpage.html' %}
{% block title %} <title>Activity Label</title> {% endblock title %}
{% block content %} 
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"></h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        {% if error %}
          <div class="alert alert-danger">
            {{ error }}
          </div>
        {% endif %}
        <div class="row">
            <div class="col-12">
                <div class="card">
                <div class="card-header">    
                    <h3 class="card-title">Activity Label</h3>
                    <button type="button" class="btn btn-info float-right ml-3" data-toggle="modal" data-target="#editActivityLabel">
                      Edit Activity Label
                    </button>
                    <button type="button" class="btn btn-primary float-right ml-3" data-toggle="modal" data-target="#addActivityLabelModal">
                        Add Activity Label
                    </button>
                    {% if request.user.is_super_admin %}
                    <button type="button" class="btn btn-warning float-right " data-toggle="modal" data-target="#addtoGlobalModal">
                      Add to Global
                  </button>
                  {% endif %}
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="activity_label" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Activity Label ID</th>
                            <th>Activity Label Name</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for i in activity_label %}
                                <tr>
                                    <td>{{ i.id }}</td>
                                    <td>{{ i.activity_label_name }}</td>
                                    
                                    <td>
                                      {% if request.user.is_super_admin %}
                                        <a class="btn btn-danger" href="{% url 'remove_activitylabel' activitylabel_id=i.id %}"
                                        onclick="return confirm('Are you sure you want to delete this Activity Label?');">
                                        Delete</a>
                                      {% else %}
                                        {% if i.is_global == False %}
                                        <a class="btn btn-danger" href="{% url 'remove_activitylabel' activitylabel_id=i.id %}"
                                              onclick="return confirm('Are you sure you want to delete this Activity Label?');">
                                              Delete</a>
                                        {% endif %}
                                      {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <hr>
                </div>
                <!-- /.card-body -->
            </div>
            </div>
        </div>

        <!-- Modals -->
        <!-- Add Industry -->
        <div class="modal fade" id="addActivityLabelModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 900px !important;">
                <div class="modal-content">
                    <form action="{% url 'add_activitylabel' %}" method="post" id="add_activitylabel_form">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Add Activity Label</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="form-group col-md-12 mb-3">
                                    <label for="taskName" class="text-dark">Activity Label Name</label>
                                    <input type="text" name="activity_label_name" id="activity_label_name" class="form-control" />
                                </div>
                            </div>
                            <!-- <div class="form-row">
                                <div class="form-group col-md-12 mb-3">
                                    <label for="taskName" class="text-dark">Regulations</label>    
                                    <div class="row">
                                      {% for regulation in regulations %}
                                        <div class="col-6 form-check">
                                          <input class="form-check-input" type="checkbox" name="regulations" value="{{ regulation.id }}">
                                          {{ regulation.regulation_name }}</strong>
                                        </div>  
                                      {% endfor %}
                                    </div>
                                </div>
                            </div> -->

                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-success" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Edit Industry -->
        <div class="modal fade" id="editActivityLabel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 900px !important;">
                <form method="POST" action="{% url 'edit_activitylabel' %}" id="edit_activitylabel_form">
                    {% csrf_token %}
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Edit Activity Label</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="form-group col-md-12 mb-3">
                                    <label for="regulations" class="text-dark">Select Activity Label</label>
                                    <select name="edit_activity_label_id" id="edit_activity_label_id" class="custom-select">
                                        <option value="">Please Select</option>
                                        {% for activitylabel in my_activity_label %}
                                          <option value="{{ activitylabel.id }}">{{ activitylabel.activity_label_name }}
                                          </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-md-12 mb-3">
                                    <label for="regulationName" class="text-dark">Activity Label Name</label>
                                    <input type="text" name="edit_activity_label_name" id="edit_activity_label_name" class="form-control" required />
                                </div>
                            </div>
                            <!-- <div class="form-row">
                                <div class="form-group col-md-12 mb-3">
                                    <label for="taskName" class="text-dark">Regulations</label>    
                                    <div class="row">
                                      {% for regulation in regulations %}
                                        <div class="col-6 form-check">
                                          <input class="form-check-input" type="checkbox" name="edit_regulations" id="editBox{{regulation.id}}" value="{{ regulation.id }}">
                                          {{ regulation.regulation_name }}</strong>
                                        </div>  
                                      {% endfor %}
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-success" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
        <div class="modal fade" id="addtoGlobalModal" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 900px !important;">
              <div class="modal-content">
                  <form action="{% url 'add_audits' %}" method="post" id="add_audit_form">
                      {% csrf_token %}
                      <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Add Audit</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <div class="modal-body">
                          <div class="table-for-audits">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Activity Label Name</th>
                                  <th scope="col">Activity Label User</th>
                                  <th scope="col">Save to Global</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for activitylabel in non_global_activity_labels %}
                                <tr>
                                  <th scope="row">{{forloop.counter}}</th>
                                  <td>{{activitylabel.activity_label_name}}</td>
                                  <td>{{activitylabel.user}}</td>
                                  <td>
                                    <a class="btn btn-success" href="{% url 'activity_label_make_global' activitylabel_id=activitylabel.id %}">Make Global</a>
                                  </td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </div>
                          <!-- <div class="form-row">
                              <div class="form-group col-md-12 mb-3">
                                  <label for="taskName" class="text-dark">Regulations</label>    
                                  <div class="row">
                                    {% for regulation in regulations %}
                                      <div class="col-6 form-check">
                                        <input class="form-check-input" type="checkbox" name="regulations" value="{{ regulation.id }}">
                                        {{ regulation.regulation_name }}</strong>
                                      </div>  
                                    {% endfor %}
                                  </div>
                              </div>
                          </div> -->

                      </div>
                      <div class="modal-footer">
                          <input type="submit" class="btn btn-success" value="Submit">
                      </div>
                  </form>
              </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  {% endblock content %}
  {% block script %}

<script>
    $(() => {
        $('body').toggleClass('sidebar-collapse');
        
        $('#activity_label').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
        });

        $("#edit_industry_id").on('change', (e) => {
          let industry = $('#edit_industry_id option:selected').val()
          
        });
    });
    jQuery('#add_activitylabel_form').validate({
      rules:{
        activity_label_name:{
          required:true,
        },

        
        
      },
      messages:{
        activity_label_name:{
          required:"Please Enter Activity Label Name",
        },
        
        
      },
      subitHandler:function(form){
        form.submit();
      }
    });
    jQuery('#edit_activitylabel_form').validate({
      rules:{
        edit_activity_label_name:{
          required:true,
        },
        edit_activity_label_id:{
          required:true,
        },
        
        
      },
      messages:{
        edit_activity_label_name:{
          required:"Please Enter Activity Label Name",
        },
        edit_activity_label_id:{
          required:"Please Select Activity Label",
        },
        
      },
      subitHandler:function(form){
        form.submit();
      }
    });
</script>

{% endblock script %}
