{% extends 'includes/masterpage.html' %}
{% block title %} <title>Task Master</title> {% endblock title %}
{% block content %} 
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"></h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Tasks</h3>
                  <button type="button" class="btn btn-info float-right ml-4" data-toggle="modal" data-target="#editTaskModal">
                    Edit Task
                  </button>
                  <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#addTaskModal">
                    Add New Task
                  </button>
                  <form method="POST" action="{% url 'upload_task' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" class="btn btn-info float-left ml-5" name="upload_task_file">
                    <button type="submit" class="btn btn-warning float-left ml-3">
                      Upload Task
                    </button>
                  </form>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="tasks" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Task ID</th>
                            <th>Task Name</th>
                            <th>Activity ID</th>
                            <th>Estimated Days</th>
                            <th>Auditing Standard</th>
                            <th>International Auditing Standard</th>
                            <th>Client Request List</th>
                            <th>Edit</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for task in tasks %}
                            
                                <tr>    
                                    <td>{{ task.id }}</td>
                                    <td>{{ task.task_name }}</td>
                                    <td>{{ task.activity_id }}</td>
                                    <td class="estimated_days" data-estimated="{{ task.id }}" >{{ task.task_estimated_days }}</td>
                                    <td class="auditing_standard" data-auditingstandard="{{ task.id }}" >{{ task.task_auditing_standard }}</td>
                                    <td class="international_auditing_standard" data-internationalauditingstandard="{{ task.id }}" >{{ task.task_international_auditing_standard }}</td>
                                    
                                    {% if task.process_notes %}
                                      <td style="text-align:center;"> 
                                        
                                        <button class="btn btn-primary" onclick="ViewProcessNotes('{{task.id}}','{{task.is_global}}')">
                                          <i class="fas fa-paperclip" aria-hidden="true"></i>
                                        </button>
                                      </td>
                                      {% else %}
                                      <td style="text-align:center;"> 
                                        <button class="btn" onclick="ViewProcessNotes('{{task.id}}','{{task.is_global}}')">
                                          <i class="fas fa-paperclip" aria-hidden="true"></i>
                                        </a>
                                      </td>
                                    {% endif %}
                                    
                                    <td>
                                      {% if request.user.is_super_admin %}
                                      <a role="btn" class="btn btn-outline-primary" onclick="edit_task_master('{{task.id}}')">
                                        Edit
                                      </a>
                                      {% else %}
                                        {% if task.is_global == False %}
                                        <a role="btn" class="btn btn-outline-primary" onclick="edit_task_master('{{task.id}}')">
                                            Edit
                                        </a>
                                        {% endif %}
                                      {% endif %}
                                    </td>

                                                                
                                    <td>
                                      {% if request.user.is_super_admin %}
                                        <a role="btn" class="btn btn-outline-danger" href="{% url 'remove_task' task_id=task.id %}"
                                          onclick="return confirm('Are you sure you want to delete this task?');">
                                          Delete
                                        </a>
                                      {% else %}
                                        {% if task.is_global == False %}
                                          <a role="btn" class="btn btn-outline-danger" href="{% url 'remove_task' task_id=task.id %}"
                                              onclick="return confirm('Are you sure you want to delete this task?');">
                                              Delete
                                          </a>
                                        {% endif %}
                                      {% endif %}
                                    </td>
                                    
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <hr>
                    
                </div>
                <!-- /.card-body -->
            </div>
            </div>
        </div>

        <!-- Modals -->
        <div class="modal fade" id="addTaskModal" tabindex="-1">
            <div class="modal-dialog" role="document" style="max-width: 900px !important;">
                <div class="modal-content">
                    <form action="{% url 'add_task' %}" method="post" enctype="multipart/form-data" id="add_task_form">
                    {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Add New Task</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="form-group col-md-12 mb-3">
                                    <label for="taskName" class="text-dark">Task Name</label>
                                    <input type="text" name="task_name" id="task_name" class="form-control" />
                                </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-12 mb-3">
                                <label for="estimated_days_div" class="text-dark">Estimated Days</label>
                                <div id="estimated_days_div">HH : <input type="text" id="estimated_hours" name="estimated_hours" style="width:50px;"> MM :<input type="text" id="estimated_minutes" name="estimated_minutes" style="width:50px;"></div>
                              </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-12 mb-3">
                                
                              </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12 mb-3">
                                    <label for="taskName" class="text-dark">Auditing Standard</label>
                                    <input type="text" name="auditing_standard" id="auditing_standard" class="form-control" />
                                </div>
                            </div>
                            <div class="form-row">
                              
                                <div class="form-group col-md-12 mb-3">
                                    <label for="taskName" class="text-dark">International Auditing Standard</label>
                                    <input type="text" name="international_auditing_standard" id="international_auditing_standard" class="form-control" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12 mb-3">
                                  <label for="activity" class="form-label">Activity</label>
                                  <input class="form-control" list="datalistOptions" name="activity" id="activity" placeholder="Type to search...">
                                  <datalist id="datalistOptions">
                                    {% for activity in activities %}
                                    <option value="{{ activity.id }}">{{ activity.activity_name }}</option>
                                  {% endfor %}
                                  </datalist>
                                    <!-- <label for="taskName" class="text-dark">Activities</label>    
                                    <select name="activity" i="activity" class="custom-select">
                                      <option value="-1">Please Select</option>
                                      {% for activity in activities %}
                                        <option value="{{ activity.id }}">{{ activity.activity_name }}</option>
                                      {% endfor %}
                                    </select> -->
                                </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-12 mb-3">
                                <label for="exampleInputFile">Client Request List</label>
                                  <div class="custom-file">
                                      <input type="file" name="attachment" id="taskSubmission">
                                  </div>
                              </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-success" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editTaskModal" tabindex="-1">
            <div class="modal-dialog" role="document" style="max-width: 900px !important;">
                <div class="modal-content">
                    <form action="{% url 'edit_task' %}" method="post" id="edit_task_form">
                    {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Add New Task</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-row">
                              <div class="form-group col-md-12 mb-3">
                                  <label for="tasks" class="text-dark">Select Task</label>
                                  <select name="edit_task_id" id="edit_task_id" class="custom-select">
                                      <option value="">Please Select</option>
                                      {% for task in my_tasks %}
                                          <option value="{{ task.id }}">{{ task.task_name }}</option>
                                      {% endfor %}
                                  </select>
                              </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12 mb-3">
                                    <label for="taskName" class="text-dark">Task Name</label>
                                    <input type="text" name="edit_task_name" id="edit_task_name" class="form-control" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12 mb-3">
                                  <label for="estimated_days_div" class="text-dark">Estimated Days</label>
                                  <div id="estimated_days_div">HH : <input type="text" id="edit_estimated_hours" name="edit_estimated_hours" style="width:50px;"> MM :<input type="text" id="edit_estimated_minutes" name="edit_estimated_minutes" style="width:50px;"></div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12 mb-3">
                                    <label for="taskName" class="text-dark">Auditing Standard</label>
                                    <input type="text" name="edit_auditing_standard" id="edit_auditing_standard" class="form-control" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12 mb-3">
                                    <label for="taskName" class="text-dark">International Auditing Standard</label>
                                    <input type="text" name="edit_international_auditing_standard" id="edit_international_auditing_standard" class="form-control" />
                                </div>
                            </div>
                             <div class="form-row">
                                <div class="form-group col-md-12 mb-3">
                                    <label for="taskName" class="text-dark">Activities</label>    
                                    <select name="edit_activity" id="edit_activity" class="custom-select">
                                      <option value="">Please Select</option>
                                      {% for activity in activities %}
                                        <option value="{{ activity.id }}">{{ activity.activity_name }}</option>
                                      {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-success" value="Submit" onclick="return confirm('MAKING CHANGES TO TASK MASTER WILL AFFECT ALL UNLOCKED AUDIT PLANS');">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="ProcessedNotesModal" tabindex="-1">
          <div class="modal-dialog" role="document" style="max-width: 900px !important;">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Processed Notes <input type="text" id="processed_notes_task_id"> </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="mb-3">
                        <div id="download_processed_notes">

                        </div>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row" id="process_notes_add_container">
                    
                  </div>
                  
                </div>
              </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  {% endblock content %}
  {% block script %}


<script>
    // add_task_form
    jQuery('#add_task_form').validate({
      rules:{
        task_name:{
          required:true,
        },
        estimated_hours:{
          required:true,
          number:true,
        },
        estimated_minutes:{
          required:true,
          number:true,
        },
        activity:{
          required:true,
          number:true,
        },
        industries:{
          required:true,
        },
        audittype:{
          required:true,
        },
        entities:{
          required:true,
        },
      },
      messages:{
        task_name:{
          required:"Please Enter Task Name",
        },
        estimated_hours:{
          required:"Please Enter Estimated Hour",
          number:"Please Enter valid Hour",
        },
        estimated_minutes:{ 
          required:"Please Enter Estimated Minutes",
          number:"Please Enter valid Minute",
        },
        activity:{
          required:"Please Select Activity Name",
          number:"Activity ID is incorrect. Please Select Activity Again",
        },
        industries:{
          required:"Please select any one or multiple from list",
        },
        audittype:{
          required:"Please select any one or multiple from list",
        },
        entities:{
          required:"Please select any one or multiple from list",
        },
      },
      subitHandler:function(form){
        form.submit();
      }
    });

    jQuery('#edit_task_form').validate({
      rules:{
        edit_task_id:{
          required:true,
        },
        edit_task_name:{
          required:true,
        },
        edit_estimated_hours:{
          required:true,
          number:true,
        },
        edit_estimated_minutes:{
          required:true,
          number:true,
        },
        edit_activity:{
          required:true,
          number:true,
        },
        industries:{
          required:true,
        },
        audittype:{
          required:true,
        },
        entities:{
          required:true,
        },
      },
      messages:{
        edit_task_id:{
          required:"Please Select a Task",
        },
        edit_task_name:{
          required:"Please Enter Task Name",
        },
        edit_estimated_hours:{
          required:"Please Enter Estimated Hour",
          number:"Please Enter valid Hour",
        },
        edit_estimated_minutes:{ 
          required:"Please Enter Estimated Minutes",
          number:"Please Enter valid Minute",
        },
        edit_activity:{
          required:"Please Select Activity Name",
          number:"Activity ID is incorrect. Please Select Activity Again",
        },
        industries:{
          required:"Please select any one or multiple from list",
        },
        audittype:{
          required:"Please select any one or multiple from list",
        },
        entities:{
          required:"Please select any one or multiple from list",
        },
      },
      subitHandler:function(form){
        form.submit();
      }
    });

    function ViewProcessNotes(id,is_global){
      if(is_global == "True") {
        $('#process_notes_add_container').empty();
      }
      else {
        $('#process_notes_add_container').empty();
        $('#process_notes_add_container').append(`
          <div class="col-sm-3">
            <div class="mb-3">
              <input type="file" id="processed_notes_file" class="form-control-file" >
            </div>
          </div>
          <div class="col-sm-4">
            <div class="mb-3">
              <button class="btn btn-primary" onclick="save_processed_notes()">Save</button>
            </div>
          </div>
        `);
      }
    
        $('#processed_notes_task_id').val(id);
        console.log(is_global)
        $.ajax({
          type: "POST",
          url: "{% url 'crud_processed_notes' %}",
          headers: {'X-CSRFToken': '{{ csrf_token }}'},
          data: {
            'task_id': id
          },
          success: function(data){
            $('#download_processed_notes').empty();
            console.log(data)
            if(data.data.process_notes != 'none'){
              $('#download_processed_notes').append(`
              <a role="btn" class="btn btn-warning" href="/media/${ data.data.process_notes }" download="${ data.data.process_notes }">Download</a>
              `);
            }
            $('#ProcessedNotesModal').modal('show')
          }
        });
    
        // 
        // 
    }
    function save_processed_notes(){
    var task_id = $('#processed_notes_task_id').val();
    var file = $('#processed_notes_file')[0].files[0];
    console.log(task_id , file)
    var data = new FormData();
    data.append("csrfmiddlewaretoken", "{{ csrf_token }}");
    data.append("process_task_id", task_id);
    data.append("process_notes_file", file);

    $.ajax({
      method: "POST",
      url: "{% url 'crud_processed_notes' %}",
      processData: false,
      contentType: false,
      mimeType: "multipart/form-data",
      data: data,
      success: function (res) {
        const response = JSON.parse(res);
        console.log(response)
        if(response.saved == "yes"){
          window.location = "{% url 'render_task_master' %}"
        }
      }
    });
    }
    function edit_task_master(id){
        console.log(id);
        $.ajax({
          type: "POST",
          url: "{% url 'get_activities' %}",
          headers: {'X-CSRFToken': '{{ csrf_token }}'},
          data: {
            'task_id': id,
          },
          success: function(data){
            console.log(data)
            $('#editTaskModal').modal('show');
            const activity = data.activity
            $('#edit_task_id').val(data.task)
            $('#edit_activity').val(activity)
            $('#edit_auditing_standard').val(data.task_auditing_standard);
            $('#edit_international_auditing_standard').val(data.task_international_auditing_standard);
            $('#edit_estimated_hours').val(data.hours);
            $('#edit_estimated_minutes').val(data.minutes);
            
          }
        });
    }
    $(() => {
        $('body').toggleClass('sidebar-collapse');

        $('#tasks').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "rowCallback":function(row,data,index){
              var minutes = parseFloat(data[3])
              if(minutes){
                const quotient = Math.floor(minutes/60);
                const remainder = minutes % 60;
                console.log(quotient, remainder)
                $(row).find('td:eq(3)').text(quotient+":"+remainder)
              }
          }
            
        });
        
        const Toast = Swal.mixin({
          toast: true,
          position: 'top-end',
          showConfirmButton: false,
          timer: 3000
        });

        $("#edit_task_id").on('change', (e) => {
          let task = $('#edit_task_id option:selected').val()
          const url = "{% url 'get_activities' %}"
          $.ajaxSetup({
              data: {
                  csrfmiddlewaretoken: '{{ csrf_token }}'
              },
          });
          $.ajax({  
              url: url,  
              method: "POST",  
              data:{
                'task_id': task, 
              }, 
              success: function(data) {  
                const activity = data.activity
                $('#edit_activity').val(activity)
                
              }  
          });
        });
    });
    
</script>
{% endblock script %}